 @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

 :root {
   --1: 0.25rem;
   --2: 0.5rem;
   --3: 0.75rem;
   --4: 1rem;
   --5: 1.25rem;
   --6: 1.5rem;
   --7: 1.75rem;
   --8: 2rem;

   --primary: #11998e;
   --secondary: #38ef7d;
   --white: #fff;
   --gray: #9b9b9b;
 }

 body {
   background: #eaeaea;
   font-family: "Roboto", sans-serif;
 }

 .interviewee {
   position: fixed;
   bottom: 0;
   right: 0;
   line-height: 1em;
   padding: 0.5em 0.8em;
   background: white;
   opacity: 0.8;
   border-radius: 1em 0 0 0;
 }

 .main {
   width: 100vw;
   height: 100vh;
   background-size: cover;
   background-image: url("https://images.unsplash.com/photo-1575365717666-1a84be3fd104?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
 }

 .mainContainer {
   width: 80%;
   height: 80%;
   border-radius: var(--2);
   backdrop-filter: blur(10px);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 0.5em;
 }

 .formGroup {
   position: relative;
   padding: 15px 0 0;
   margin-top: 10px;
   width: 50%;
 }

 .formField {
   width: 100%;
   border: 0;
   border-bottom: 2px solid var(--gray);
   outline: 0;
   font-size: 1.3rem;
   color: var(--white);
   padding: 7px 0;
   background: transparent;
   transition: border-color 0.2s;

   &::placeholder {
     color: transparent;
   }

   &:placeholder-shown~.formLabel {
     font-size: 1.3rem;
     cursor: text;
     top: 20px;
   }
 }

 .formField:focus {
   ~.formLabel {
     position: absolute;
     top: 0;
     display: block;
     transition: 0.2s;
     font-size: 1rem;
     color: var(--primary);
     font-weight: 700;
   }

   padding-bottom: 6px;
   font-weight: 700;
   border-width: 3px;
   border-image: linear-gradient(to right,
     var(--primary),
     var(--secondary));
   border-image-slice: 1;
 }

 /* reset input */
 .formField {

   &:required,
   &:invalid {
     box-shadow: none;
   }
 }

 .formLabel {
   position: absolute;
   top: 0;
   display: block;
   transition: 0.2s;
   font-size: 1rem;
   color: var(--gray);
 }

 .dataConatainer {
   width: 85%;
   height: 85%;
   overflow-y: auto;
   overflow-x: hidden;
 }

 .userCard {
   border-radius: var(--1);
   margin: var(--2);
   padding: var(--1);
   background-color: darkgray;
   opacity: 0.7;
 }
